<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>Windows</AuthenticationType>
    <RequiresIntrinsicDataSource>true</RequiresIntrinsicDataSource>
    <DeployDatabase>True</DeployDatabase>
    <LightSwitchPublishVersion>2.8</LightSwitchPublishVersion>
    <PackageLocation>Publish//FestivalTest.zip</PackageLocation>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <DisableAllVSGeneratedMSDeployParameter>True</DisableAllVSGeneratedMSDeployParameter>
    <AutoParameterizationWebConfigConnectionStrings>True</AutoParameterizationWebConfigConnectionStrings>
    <LightSwitchExcludeSetParameter>{DefaultDataPath};{dbFullSql_Path};{Update web.config connection string}</LightSwitchExcludeSetParameter>
    <WPPAllFilesInSingleFolder>../bin/Release/app.publish/</WPPAllFilesInSingleFolder>
    <PackageSourceManifest>../bin/Release/FestivalTest.xml</PackageSourceManifest>
    <ProjectParametersXMLFile>..//FestivalTest.Server/generated.parameters.xml</ProjectParametersXMLFile>
    <LightSwitchSqlScriptFile>../bin/Release/FestivalTest.sql</LightSwitchSqlScriptFile>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../FestivalTest.lsxtproj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>